@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Light Theme Text Color */
[data-theme='light'] .text-dynamic {
  @apply text-gray-800;
}

/* Dark Theme Text Color */
[data-theme='dark'] .text-dynamic {
  @apply text-gray-200;
}

/* Emerald Theme Text Color */
[data-theme='emerald'] .text-dynamic {
  @apply text-emerald-500;
}
